<?xml version="1.0"?>
<launch>
	
	<arg name="pathORB2" default="/home/nilda/IntRob2023/src/ORB_SLAM2" />
	
	<node pkg="ORB_SLAM2" type="Mono" name="orb_slam2_mono" args="$(arg pathORB2)/Vocabulary/ORBvoc.bin  $(arg pathORB2)/Examples/ROS/ORB_SLAM2/config/real_sense.yaml" cwd="node" output="screen"> 
		<remap from="/camera/rgb/image_raw" to="/camera/rgb/image_raw" />
	</node>

</launch>

