/devel
/build
/deep_learning
/libs
/src/openai_projects/bebop_openai_ros_example/training_results/dqlearn/*
/src/image_viewer/src/NYU_FCRN-checkpoint
/src/dataset
/src/openai_ros_b/openai_ros_b/src/openai_ros_b/task_envs/bebop/__pycache__/
